#!/bin/bash
alias .....="cd ../../../../"
alias ....="cd ../../../../"
alias ...="cd ../../../"
alias ..="cd .."
alias .4="cd ../../../../"
alias .5="cd ../../../../.."
alias cd..="cd .."
alias chgrp="chgrp --preserve-root"
alias chmod="chmod --preserve-root"
alias chown="chown --preserve-root"
alias ci="code-insiders"
alias cp="cp -i"
alias cld="clean_dependencies"
alias bmd="bump_dependencies"
alias cmbd="cld && bmd && dum install && dum build"
alias df="pydf"
alias docker_prune="docker system prune && docker volume prune"
alias find="find . -type d \( -iname node_modules -o -iname vendor -o -iname dist -o -iname \.git -o -iname \.next \) -prune -false -o "
alias header="curl -I"
alias headerc="curl -I --compress"
alias l.="ls -d .*"
alias ll="ls -la"
alias ln="ln -i"
alias ls="ls -AlhG --color=always"
alias mkdir="mkdir -pv"
alias mv="mv -i"
alias nocomment="grep -Ev '\''^(#|$)'\''"
alias ports="netstat -tulanp"
alias prettify="prettier --cache --config ~/prettier.config.js --ignore-path ~/.prettierignore --log-level error"
alias psg="ps aux | grep -v grep | grep -i -e VSZ -e"
alias rm="rm -I --preserve-root"
alias rsync="rsync --compress --copy-links --devices --exclude '.git' --group --human-readable --info=progress2 --inplace --owner --partial --perms --recursive --specials --stats --times"
alias update_system="sudo apt-get update -y && sudo apt-get upgrade -y && sudo apt-get dist-upgrade -y && sudo apt full-upgrade -y && sudo apt-get autoremove -y && sudo apt-get clean"
alias wget="wget -c"
