[submodule ".oh-my-bash"]
path = .oh-my-bash
url = ssh://git@github.com/nikolarhristov/bash.git
[submodule ".oh-my-posh"]
path = .oh-my-posh
url = ssh://git@github.com/nikolarhristov/powershell.git
[submodule ".config/bash-completion"]
path = .config/bash-completion
url = ssh://git@github.com/nikolarhristov/bash-completion.git
[submodule ".config/nvim"]
path = .config/nvim
url = ssh://git@github.com/nikolarhristov/nvim.git
