[submodule "Bash"]
path = Bash
url = ssh://git@github.com/NikolaRHristov/Bash.git

[submodule "ZSH"]
path = ZSH
url = ssh://git@github.com/NikolaRHristov/ZSH.git

[submodule ".config/Completion"]
path = .config/Completion
url = ssh://git@github.com/NikolaRHristov/Completion.git

[submodule "PowerShell"]
path = PowerShell
url = ssh://git@github.com/NikolaRHristov/PowerShell.git
