[submodule ".oh-my-bash"]
path = .oh-my-bash
url = https://github.com/nikolaxhristov/bash.git
[submodule ".oh-my-posh"]
path = .oh-my-posh
url = https://github.com/nikolaxhristov/powershell.git
[submodule ".oh-my-zsh"]
path = .oh-my-zsh
url = https://github.com/nikolaxhristov/zsh.git
[submodule ".config/bash-completion"]
path = .config/bash-completion
url = https://github.com/nikolaxhristov/bash-completion.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = ssh://git@github.com/nikolaxhristov/nvim.git
