.config/configstore
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.moon/cache
.pnpm-debug.log*
.snowpack/
.super
.turbo
*.pem
~*.docx
~*.tmp
debug.log
known_hosts
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
