# auto-install-peers=true
cache-dir=D:\Tool\Cache\PNPM
cache=D:\Tool\Cache\NPM
global-bin-dir=D:\Tool\Bin\PNPM
hoist=true
init-author-email="Source/Open@PlayForm.Cloud"
init-author-name="Source/Open"
init-author-url="HTTPS://PlayForm.Cloud"
init-description=""
init-license="MIT"
init-version=0.0.1
# legacy-peer-deps=true
link-workspace-packages=true
prefer-frozen-lockfile=false
prefer-workspace-packages=false
shamefully-hoist=true
shared-workspace-lockfile=true
store-dir=D:\Tool\Store\PNPM
# strict-peer-dependencies=false
unsafe-perm=true
use-beta-cli=true
node-linker=hoisted
network-concurrency=32
dedupe-peer-dependents=true
child-concurrency=32
