auto-install-peers=true
init-author-email="Nikola@Playform.Cloud"
init-author-name="Nikola R. Hristov"
init-author-url="HTTPS://NikolaHristov.Tech"
init-description=""
init-license="MIT"
init-version=0.0.1
legacy-peer-deps=true
link-workspace-packages=true
prefer-frozen-lockfile=false
prefer-workspace-packages=false
shamefully-hoist=true
shared-workspace-lockfile=true
strict-peer-dependencies=false
unsafe-perm=true
use-beta-cli=true
